* {
  margin: 0;
  padding: 0;
  -box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

:focus {
  outline: 0;
  -moz-outline-style: none; }

img {
  max-width: 100%;
  height: auto; }

/*# sourceMappingURL=_reset.css.map */
