@import "scss/variables";
@import "scss/reset";
@import "scss/fonts";
/* @import "scss/grid"; */
@import "scss/mixin";
@import "scss/misc";


@font-face {
  font-family: 'great_vibesregular';
  //src: url('fonts/greatvibes-regular-webfont.woff2') format('woff2'),
  src: url('./fonts/greatvibes-regular-webfont.woff2') format('woff2'),
  url('./fonts/greatvibes-regular-webfont.woff') format('woff'),
  url('./fonts/greatvibes-regular-webfont.ttf') format('truetype'),
  url('./fonts/greatvibes-regular-webfont.svg#great_vibesregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'roboto_slabbold';
  src: url('./fonts/RobotoSlab-Bold-webfont.eot');
  src: url('./fonts/RobotoSlab-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('./fonts/RobotoSlab-Bold-webfont.woff') format('woff'),
  url('./fonts/RobotoSlab-Bold-webfont.ttf') format('truetype'),
  url('./fonts/RobotoSlab-Bold-webfont.svg#roboto_slabbold') format('svg');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: georgia, serif, Arial, Helvetica, sans-serif;
  color: #000000;
  line-height: 1.6;
  background:$white;
}


h1 {font-size:36px;}
h2 {}
h3 {}
h4 {font-size:22px;}
h5 {}
h6 {}


/* Special Font */
.logo, .bx-wrapper .bx-caption span	{font-family: 'great_vibesregular', Arial, Helvetica, sans-serif;}
.cart-table td, .quanInput, .accLabels, .splBtn, .numStyle, h1, .splReverseBtn, .priceH, .footerHeader, .contentH h5, .featuredBox h3 {font-family:'roboto_slabbold', Arial, Helvetica, sans-serif;}


/* header */

header {}


.logo {display:inline-block; margin:10px 0 0 0; font-size:46px; color:#000;
  &:hover {color:#000; text-decoration:none;}
}

nav {padding:15px 0; border-top:solid 1px $lightGray;
  ul {margin:0; padding:0; list-style:none; text-align:center;
    li {display:inline-block; margin:0 15px 0 0;
      &.active {
        a {color:$white; @include roundBorder(4px); background:$black;
            &:visited {color:$white; text-decoration:none;}
            &:hover   {color:$white; text-decoration:none;}
            &:active  {color:$white; text-decoration:none;}
        }
      }
      a {display:block; color:$black; font-size:18px; padding:5px;
        &:visited {color:$black; text-decoration:none;}
        &:hover   {color:#74828F; text-decoration:none;}
        &:active  {color:$black; text-decoration:none;}
      }
    }
  }
}

.subPageNav {border-bottom:solid 1px $lightGray;}

/* Main Content  */

.mainH {position:relative; z-index:1; overflow:hidden; margin-bottom:300px; background:$white;}

.productHeader  {padding:15px; background:$lightBlue;}

.heading {text-align:center;
  h1 {margin:25px 0 20px; padding:0 0 20px 0; border-bottom:solid 1px $lightGray;}
  .subTxt {display:inline-block; width:70%; color:$darkGray; padding:8px 2px;}
 }

.featuredBox {-webkit-box-shadow: 0px 0px 2px 2px #D1D1D1; text-align:center; background:#fff; @include roundBorder(2px);
              margin:25px 0; padding:8px 8px 8px 8px; box-shadow: 0px 0px 2px 2px #D1D1D1;
      h3 {margin-top:0px; }
}

.roundImg {overflow:hidden; @include roundBorder(2px);
  a {overflow:hidden; display:block; height:200px;
    img {display:block; @include transition(2s);
      &:hover {@include scale(1.2, 1.2);}
    }
  }
  p {text-align:left; margin:5px 0; color:$darkGray;}
}

.splBtn {font-size:14px; color:$black; padding:5px; display:block; width:100%; padding:12px; border:solid 1px $black; margin:10px 0 10px 0; background:none;
  &:hover {color:$white; text-decoration:none; background:$black;}
}

.contentH {margin:0 0 25px 0;
  p {color:$darkGray; padding:0 10px 0 0;}
}


.headingSub {text-align:left;
   h1 {margin:25px 0 20px; padding:0 0 20px 0; border-bottom:solid 1px $lightGray;}
  .subTxtLeft {display:inline-block; color:$darkGray; padding:8px 2px;}
}

.productDetailH {margin:20px 0 0 0;
  .headingSub {
    h1 {margin-top:0px;}
  }
}

.productAll {
  .priceH {font-size:20px; margin-bottom:10px;}
  ul {margin:0 0 10px; padding:0; list-style-type:circle !important; list-style-position:inside;
     li {margin:5px 0;}
  }
}

.returnBtn {color:$brown;
   &:hover {color:$darkGray; text-decoration:none;}
}

.cartH {position:fixed; top:20px; right:0; -webkit-border-radius: 5px 0 0 5px; padding:10px; z-index:9999; background:$lightGray;
  border-radius: 5px 0 0 5px; -webkit-box-shadow: 0 0 2px 1px #BDBDBD; box-shadow: 0 0 2px 1px #BDBDBD;
}

.cart  {position:relative; color:$black;
  .bubbleH {position:absolute; top:-20px; left:10px; width:22px; height:22px; padding:0 2px; display:inline-block; text-align:center;
    border-radius:15px; -webkit-border-radius:15px; -moz-border-radius:15px; color:$white; background:$brown;}
}


.recentViewSlider {margin:20px 0 0 0; padding:0; list-style:none;
  li {float:left; width:250px; height:250px; overflow:hidden;
    a {display:block; text-align:center;
      img {display:inline-block;
        &:after {content:" "; display:block;}
      }
      .recentTxt {display:inline-block; margin-top:10px;  width:70%; color:$darkGray;}
    }
  }
}

/* Form */
.emailMobileH, .passwordH {position:relative; height:45px; font-size:15px;}
.emailMobLabel, .passwLabel {position:absolute; top:0; left:0; @include transition(0.3s); z-index:1;}
.emailMobileInput, .passwordInput {position:relative; z-index:2; border:none; border-bottom:solid 1px $darkGray; width:280px; margin:0 0 15px 0; background:transparent;}
.passwordInput {margin-bottom:0}

.emailMobLabelMove {color:$lightBlack; font-size:11px; top:-18px;}

.passwordH .forgotLink {display:block; padding:3px 0; color:#2874f0; font-size:11px; margin:0 0 5px 0; text-align:right;}

.accDetails {
    .accLabels {display:block; color:$black; }
    input {border:none; border-bottom:solid 1px $darkGray; width:280px; margin:0 0 15px 0; background:transparent;}
}

.quanInput {border:solid 1px $darkGray; width:60px; padding:5px; text-align:center;}

/* Misc */

.mb20 {margin-bottom:20px;}
.dpblk {display:block;}
.red {color:$red;}
.valignMiddle {vertical-align:middle !important;}

/* Table */

.cartTdStyle {width:10%; text-align:center; vertical-align:middle !important;
   a {color:$darkGray;
    &:hover {color:$brown;}
   }
}


/* Special Button */

.splReverseBtn {color:$white; text-decoration:none !important; font-size:14px; display:block; width:auto; border:none; padding:12px;  margin:10px 0 10px 0; background:$black; border:solid 1px transparent;
  &:hover {color:$black; background:none; border:solid 1px $black;}
}

.moreImgH {margin:0 0 10px 0;
  ul {margin:0; padding:0; list-style:none;
    li {float:left; margin:10px 10px 0 0; }
  }
}

/* Footer */

footer {position:fixed; display:block; bottom:0; left:0; right:0; z-index:0; padding:40px 0 0 0; color:#fff; height:250px; background:$black;
   .footerHeader {color:$brown; font-size:13px; text-transform:uppercase;}
   .copyRightH   {display:inline-block; font-size:11px;}
}

.addressH {display:block; font-size:12px;
  a {color:$white;}
}

.numStyle {width:50px; height:40px; font-size:16px; padding-left:5px; margin:0 0 10px 0;}

/* Misc */
.dpinbk {display:inline-block;}
.wid100 {width:100%;}


/* Media Query */

@media only screen and (max-width:768px) {
 }

@media only screen and (max-width:480px) {

}