/* Site color */
* {
  margin: 0;
  padding: 0;
  -box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html {
  /* Prevent font scaling in landscape while allowing user zoom */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

input[type=text], button, select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0px; }

:focus {
  outline: 0;
  -moz-outline-style: none; }

img {
  max-width: 100%;
  height: auto; }

header,
nav,
footer,
article,
aside,
hgroup,
section {
  display: block; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

a img {
  border: none; }

html {
  font-size: 62.5%; }

/* 10/16 = 62.5 */
/* Headings */
h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.8rem; }

h4 {
  font-size: 2.2rem; }

h5 {
  font-size: 2rem; }

h6 {
  font-size: 1.6rem; }

p {
  font-size: 1.5rem;
  margin-bottom: 1rem; }

/* @import "scss/grid"; */
/* Rounded border */
/* MISC */
.fRight {
  float: right; }

.show {
  display: block; }

.hide {
  display: none; }

.dpblock {
  display: block; }

@font-face {
  font-family: 'great_vibesregular';
  src: url("./fonts/greatvibes-regular-webfont.woff2") format("woff2"), url("./fonts/greatvibes-regular-webfont.woff") format("woff"), url("./fonts/greatvibes-regular-webfont.ttf") format("truetype"), url("./fonts/greatvibes-regular-webfont.svg#great_vibesregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'roboto_slabbold';
  src: url("./fonts/RobotoSlab-Bold-webfont.eot");
  src: url("./fonts/RobotoSlab-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/RobotoSlab-Bold-webfont.woff") format("woff"), url("./fonts/RobotoSlab-Bold-webfont.ttf") format("truetype"), url("./fonts/RobotoSlab-Bold-webfont.svg#roboto_slabbold") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: georgia, serif, Arial, Helvetica, sans-serif;
  color: #000000;
  line-height: 1.6;
  background: #ffffff; }

h1 {
  font-size: 36px; }

h4 {
  font-size: 22px; }

/* Special Font */
.logo, .bx-wrapper .bx-caption span {
  font-family: 'great_vibesregular', Arial, Helvetica, sans-serif; }

.cart-table td, .quanInput, .accLabels, .splBtn, .numStyle, h1, .splReverseBtn, .priceH, .footerHeader, .contentH h5, .featuredBox h3 {
  font-family: 'roboto_slabbold', Arial, Helvetica, sans-serif; }

/* header */
.logo {
  display: inline-block;
  margin: 10px 0 0 0;
  font-size: 46px;
  color: #000; }
  .logo:hover {
    color: #000;
    text-decoration: none; }

nav {
  padding: 15px 0;
  border-top: solid 1px #e6e6e6; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center; }
    nav ul li {
      display: inline-block;
      margin: 0 15px 0 0; }
      nav ul li.active a {
        color: #ffffff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background: #000000; }
        nav ul li.active a:visited {
          color: #ffffff;
          text-decoration: none; }
        nav ul li.active a:hover {
          color: #ffffff;
          text-decoration: none; }
        nav ul li.active a:active {
          color: #ffffff;
          text-decoration: none; }
      nav ul li a {
        display: block;
        color: #000000;
        font-size: 18px;
        padding: 5px; }
        nav ul li a:visited {
          color: #000000;
          text-decoration: none; }
        nav ul li a:hover {
          color: #74828F;
          text-decoration: none; }
        nav ul li a:active {
          color: #000000;
          text-decoration: none; }

.subPageNav {
  border-bottom: solid 1px #e6e6e6; }

/* Main Content  */
.mainH {
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 300px;
  background: #ffffff; }

.productHeader {
  padding: 15px;
  background: #96C0CE; }

.heading {
  text-align: center; }
  .heading h1 {
    margin: 25px 0 20px;
    padding: 0 0 20px 0;
    border-bottom: solid 1px #e6e6e6; }
  .heading .subTxt {
    display: inline-block;
    width: 70%;
    color: #525564;
    padding: 8px 2px; }

.featuredBox {
  -webkit-box-shadow: 0px 0px 2px 2px #D1D1D1;
  text-align: center;
  background: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: 25px 0;
  padding: 8px 8px 8px 8px;
  box-shadow: 0px 0px 2px 2px #D1D1D1; }
  .featuredBox h3 {
    margin-top: 0px; }

.roundImg {
  overflow: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }
  .roundImg a {
    overflow: hidden;
    display: block;
    height: 200px; }
    .roundImg a img {
      display: block;
      -webkit-transition: all 2s ease;
      -moz-transition: all 2s ease;
      transition: all 2s ease; }
      .roundImg a img:hover {
        -webkit-transform: scale(1.2, 1.2);
        -moz-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2); }
  .roundImg p {
    text-align: left;
    margin: 5px 0;
    color: #525564; }

.splBtn {
  font-size: 14px;
  color: #000000;
  padding: 5px;
  display: block;
  width: 100%;
  padding: 12px;
  border: solid 1px #000000;
  margin: 10px 0 10px 0;
  background: none; }
  .splBtn:hover {
    color: #ffffff;
    text-decoration: none;
    background: #000000; }

.contentH {
  margin: 0 0 25px 0; }
  .contentH p {
    color: #525564;
    padding: 0 10px 0 0; }

.headingSub {
  text-align: left; }
  .headingSub h1 {
    margin: 25px 0 20px;
    padding: 0 0 20px 0;
    border-bottom: solid 1px #e6e6e6; }
  .headingSub .subTxtLeft {
    display: inline-block;
    color: #525564;
    padding: 8px 2px; }

.productDetailH {
  margin: 20px 0 0 0; }
  .productDetailH .headingSub h1 {
    margin-top: 0px; }

.productAll .priceH {
  font-size: 20px;
  margin-bottom: 10px; }
.productAll ul {
  margin: 0 0 10px;
  padding: 0;
  list-style-type: circle !important;
  list-style-position: inside; }
  .productAll ul li {
    margin: 5px 0; }

.returnBtn {
  color: #C25B56; }
  .returnBtn:hover {
    color: #525564;
    text-decoration: none; }

.cartH {
  position: fixed;
  top: 20px;
  right: 0;
  -webkit-border-radius: 5px 0 0 5px;
  padding: 10px;
  z-index: 9999;
  background: #e6e6e6;
  border-radius: 5px 0 0 5px;
  -webkit-box-shadow: 0 0 2px 1px #BDBDBD;
  box-shadow: 0 0 2px 1px #BDBDBD; }

.cart {
  position: relative;
  color: #000000; }
  .cart .bubbleH {
    position: absolute;
    top: -20px;
    left: 10px;
    width: 22px;
    height: 22px;
    padding: 0 2px;
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    color: #ffffff;
    background: #C25B56; }

.recentViewSlider {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none; }
  .recentViewSlider li {
    float: left;
    width: 250px;
    height: 250px;
    overflow: hidden; }
    .recentViewSlider li a {
      display: block;
      text-align: center; }
      .recentViewSlider li a img {
        display: inline-block; }
        .recentViewSlider li a img:after {
          content: " ";
          display: block; }
      .recentViewSlider li a .recentTxt {
        display: inline-block;
        margin-top: 10px;
        width: 70%;
        color: #525564; }

/* Form */
.emailMobileH, .passwordH {
  position: relative;
  height: 45px;
  font-size: 15px; }

.emailMobLabel, .passwLabel {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1; }

.emailMobileInput, .passwordInput {
  position: relative;
  z-index: 2;
  border: none;
  border-bottom: solid 1px #525564;
  width: 280px;
  margin: 0 0 15px 0;
  background: transparent; }

.passwordInput {
  margin-bottom: 0; }

.emailMobLabelMove {
  color: #232734;
  font-size: 11px;
  top: -18px; }

.passwordH .forgotLink {
  display: block;
  padding: 3px 0;
  color: #2874f0;
  font-size: 11px;
  margin: 0 0 5px 0;
  text-align: right; }

.accDetails .accLabels {
  display: block;
  color: #000000; }
.accDetails input {
  border: none;
  border-bottom: solid 1px #525564;
  width: 280px;
  margin: 0 0 15px 0;
  background: transparent; }

.quanInput {
  border: solid 1px #525564;
  width: 60px;
  padding: 5px;
  text-align: center; }

/* Misc */
.mb20 {
  margin-bottom: 20px; }

.dpblk {
  display: block; }

.red {
  color: red; }

.valignMiddle {
  vertical-align: middle !important; }

/* Table */
.cartTdStyle {
  width: 10%;
  text-align: center;
  vertical-align: middle !important; }
  .cartTdStyle a {
    color: #525564; }
    .cartTdStyle a:hover {
      color: #C25B56; }

/* Special Button */
.splReverseBtn {
  color: #ffffff;
  text-decoration: none !important;
  font-size: 14px;
  display: block;
  width: auto;
  border: none;
  padding: 12px;
  margin: 10px 0 10px 0;
  background: #000000;
  border: solid 1px transparent; }
  .splReverseBtn:hover {
    color: #000000;
    background: none;
    border: solid 1px #000000; }

.moreImgH {
  margin: 0 0 10px 0; }
  .moreImgH ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .moreImgH ul li {
      float: left;
      margin: 10px 10px 0 0; }

/* Footer */
footer {
  position: fixed;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  padding: 40px 0 0 0;
  color: #fff;
  height: 250px;
  background: #000000; }
  footer .footerHeader {
    color: #C25B56;
    font-size: 13px;
    text-transform: uppercase; }
  footer .copyRightH {
    display: inline-block;
    font-size: 11px; }

.addressH {
  display: block;
  font-size: 12px; }
  .addressH a {
    color: #ffffff; }

.numStyle {
  width: 50px;
  height: 40px;
  font-size: 16px;
  padding-left: 5px;
  margin: 0 0 10px 0; }

/* Misc */
.dpinbk {
  display: inline-block; }

.wid100 {
  width: 100%; }

/* Media Query */

/*# sourceMappingURL=custom.css.map */
